.ta-icon-size-big {
	font-size: 75px;
	color: #16A085;
}
.ta-font-kh {
	font-family: 'Khmer OS Siemreap', 'Bokor';
}
.ta-font-kh-header {
	font-family: 'Khmer OS Muol', 'Bokor';
}
.ta-center-col {
	text-align: center !important;
}
tr.ta-th th {
	font-size: 1em !important;
}
