<div class="navbar">

	<div class="container">

		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<i class="fa fa-cogs"></i>
			</button>

			<a class="navbar-brand navbar-brand-image" th:href="@{dashboard}">
				<img th:src="@{/resources/img/logo.png}" alt="Site Logo">
			</a>

		</div>
		<!-- /.navbar-header -->

		<div class="navbar-collapse collapse">


			<ul class="nav navbar-nav noticebar navbar-right">

				

			</ul>


			<ul class="nav navbar-nav navbar-right ">

				<li><a class="ta-font-kh" th:href="@{${LINK}(lang=kh)}" th:text="#{_ta_khmer}">Khmer</a></li>
				<li><a class="ta-font-kh" th:href="@{${LINK}(lang=en)}" th:text="#{_ta_english}">English</a></li>

				<li class="dropdown navbar-profile"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:;"> <img
						th:src="@{/resources/img/my.jpg}" class="navbar-profile-avatar"
						alt=""> <span class="navbar-profile-label">kuntola883@gmail.com</span>
						<i class="fa fa-caret-down"></i>
				</a>

					<ul class="dropdown-menu" role="menu">

						<li><a href=".#"> <i class="fa fa-user"></i>
								&nbsp;&nbsp;My Profile
						</a></li>

						<li><a href="#"> <i class="fa fa-dollar"></i>
								&nbsp;&nbsp;Plans &amp; Billing
						</a></li>

						<li><a href="#"> <i class="fa fa-cogs"></i>
								&nbsp;&nbsp;Settings
						</a></li>

						<li class="divider"></li>

						<li><a href="#"> <i class="fa fa-sign-out"></i>
								&nbsp;&nbsp;Logout
						</a></li>

					</ul></li>

			</ul>


		</div>
		<!--/.navbar-collapse -->

	</div>
	<!-- /.container -->

</div>
<!-- /.navbar -->